:root {
  --frame: 220, 123, 54;
  --plane: 30, 45, 90;
  --color_font: color-mix(
    in srgb,
    rgb(var(--frame)),
    rgb(var(--plane)) 20%,
    white 40%
  );
}
* {
  box-sizing: border-box;
}
body {
  margin: 1svmin;
  padding: 0;
  font: 200 12px/20px Verdana;
  display: inline-block;
  color: var(--color_font);
  background-color: rgb(var(--frame));
  scroll-snap-type: both proximity;
  /* scroll-snap-points-y: repeat(98svw);
  scroll-snap-points-x: repeat(96dvh); */
  scroll-behavior: smooth;
}
a:-webkit-any-link {
  color: white;
}
h1,
h2 {
  background-color: #0409;
  color: #afa9;
}
main {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 0.3svmin;
  clip-path: border-box;
  border-radius: 2svmin;
}
main > section {
  width: 98svw;
  height: 96dvh;
  background-color: rgb(var(--plane));
}

footer {
  position: absolute;
  bottom: 0;
}
hgroup {
  outline: 1px solid rgba(149, 215, 215, 0.686);
  scroll-snap-align: center;
  /* scroll-snap-stop: always; */
}
